* {
  margin: 0;
  padding: 0;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--main-white);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  z-index: 10;
  background: var(--main-red);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

.nav-list a {
  padding: 2rem;
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

section {
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  background-color: var(--main-gray);
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

section h1 {
  text-align: center;
  flex-direction: row;
  height: 5%;
  margin: 2.5%;
  padding: 30%;
}

section p {
  text-align: center;
  color: var(--main-red);
  margin: 50px;
  padding-top: 0;
}

.select-p {
  margin: 10%;
}

div {
  width: 100%;
}
